@font-face {
  font-family: 'Fork Awesome';
  src: url('../fonts/fork-awesome-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KFGQPC Uthman Taha Naskh';
  src: url('../fonts/uthman-taha-naskh.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0600-U+06FF, U+0750-U+077F, U+08A0-U+08FF, U+FB50-U+FDFF, U+FE70-U+FEFF;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('../fonts/crimson-pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('../fonts/crimson-pro-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('../fonts/crimson-pro-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; 
}

@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/league-spartan-bold.woff2') format('woff2');
  font-weight: 700;
}

#download li span:first-child a {
  font-size: smaller;
  padding: 5px 10px;
}

#download li {
  margin: 1rem 0;
}

#download li span:nth-child(2) {
  padding: 0 .5rem; 
}

#download li,
#toc,
.articles > ul:first-of-type li {
  list-style: none;
}

.alert {
  background: #FF9 url(../images/stripes.svg);
  border: 2px solid #FC0;
  border-radius: .25rem;
  color: #222;
  padding: 2rem;
}

.article[dir="ltr"] p:first-of-type::first-letter {
  float: left;
  font-size: 2rem;
  margin-right: 5px;
}

.authors article {
  max-width:40rem;
  margin-left:auto;
  margin-right:auto
}

.articles > ul:first-of-type li {
  margin-top: .25rem;
}

.buttons a[href$="download"]:nth-of-type(2)::before {
  content: "\f019";
} 
main.articles ul {
  max-width:40rem;
  margin:0 auto;
}

main.articles li {
  margin-top:.5em
}

main.articles li time {
  color:#777;
  padding-left: 1rem;
  white-space:nowrap;
}


.ebook-details {
  margin: 0 auto;
  overflow: hidden;
  width: calc(100% - 2rem);
}

p.tags {
  font-size: 0;
}

.tags a {
  display: inline-block; 
  font-size: .88rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0 5px;
  border: 1px solid #222;
  border-radius: .25rem;
  box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset;
  background: rgba(0,0,0,.1);
  line-height:1;
  text-decoration:none;
}

main[dir="ltr"] .tags a {
  margin-right: 5px;
}

main[dir="rtl"] .tags a {
  margin-left: 5px;
}

main ol ol{
  list-style-type: lower-latin;
}

.tags a:hover {
  background-color: #4F9D85;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #222;
  border-radius: .25rem;
}

.ebook-details p {
  margin: .5rem 0;
}

.ebook-details p.title {
  font-size: 1rem;  
}

.ebook-details,
div.buttons,
article .tags {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #222;
  max-width:100%
}

.more-ebooks > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .15rem;
}

.more-ebooks img {
  width: auto;
  height: 200px;
  border: 1px solid #222;
  border-radius: .25rem;
}

.more-ebooks li:first-child img, 
.more-ebooks li:last-child img {
  height: 160px;
}

.more-ebooks li:nth-child(2) img,
.more-ebooks li:nth-child(4) img {
  height: 180px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;  
}

a:hover {
  color: #4F9D85;
}

a:focus {
  outline: 1px dashed #777;
}

article > audio {
  display: block;
  width: 250px;
  height: 45px;
  margin:1rem auto
}

article a,
footer a {
  text-decoration: underline;
}

article audio,
article .tags,
summary,
footer,
nav,
ol#authors > li,
ol#ebooks > li,
#toc li,
.more-ebooks,
div.buttons {
  text-align: center;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border: 1px solid #222;
  border-radius: .25rem;
}

article p,
article h2,
article h3,
article ul,
article ol,
article li,
article blockquote {
  margin-top: 1em;
}

article p,
article li {
  hyphens: auto;
  text-align: justify;
}

article[dir="ltr"] .tags a:not(:last-child), 
main[dir="ltr"] .buttons a:not(:last-child) {
  margin-right: .25rem;
}

article[dir="rtl"] .tags a:not(:last-child),
main[dir="rtl"] .buttons a:not(:last-child) {
  margin-left: .25rem;
}

article picture {
  margin-bottom: 2rem;
  font-size: 0;
}

article[dir="ltr"] .buttons a::before,
main[dir="ltr"] .buttons a::before {
  margin-right: 8px;
}

article[dir="rtl"] .buttons a::before, 
main[dir="rtl"] .buttons a::before {
  margin-left: .25rem;
}

article[dir="ltr"] ol,
article[dir="ltr"] ul {
  padding-left: .5rem;
}

article[dir="rtl"] ol {
  list-style: arabic-indic;
}

article[dir="rtl"] ol,
article[dir="rtl"] ul {
  padding-right: .5rem;
}

blockquote {
  quotes: none;
}

body {
  background-color: #e9e7e0;
  color: #222;
  font: .88rem/1.6 'Crimson Pro', 'Times New Roman', serif;
  font-variant-numeric: oldstyle-nums; 
}

button,
main nav a:first-child,
main nav a:last-child,
.buttons a {
  padding: 1rem 1.5rem;
}

button,
main nav a:first-child,
main nav a:last-child,
.buttons a,
#download li span:first-child a {
  background-color: #4f9d85;
  border: 1px solid #222;
  border-radius: .25rem;
  box-shadow: 2px 2px 0 rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5) inset;
  color: #fff;
  display: inline-block;
  font-family: "League Spartan";
  line-height: 1.2; 
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
  text-decoration:none
}

button::-moz-focus-inner {
  border: 0;
}

footer > span {
  margin: 0 10px;
}

footer p {
  margin-top: 1rem;
  font-size: small;
}

form[action="/ebooks"] {
  margin: 0 auto 4rem;
  max-width: calc(100% - 2rem);
  overflow: hidden;
}

form[action="/ebooks"] button {
  margin-top: 1.8rem;
  font: 700 1rem/1.2 "League Spartan";
}

form[action="/ebooks"] label {
  display: block;
  margin-top: .5rem;
}

form[action="/ebooks"] label.search {
  margin-left: 9.5rem; 
}

form[action="/ebooks"] label.search input {
  padding-left: 2.5rem;
}

form[action="/ebooks"] label.search::before {
  content: "\f002";
  left: 1rem;
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

form[action="/ebooks"] label.select::after {
  content: "\f107";
  right: 1rem;
  transition: color .5s;
}

form[action="/ebooks"] label.select::after,
form[action="/ebooks"] label.search::before {
  color: #777;
  font-family: "Fork Awesome";
  position: absolute;
  top: 50%;
}

form[action="/ebooks"] label.tags select {
  height: 8.5rem;
}

form[action="/ebooks"] label.tags,
form[action="/ebooks"] label.sort,
form[action="/ebooks"] label.view,
form[action="/ebooks"] label.per-page {
  float: left;
  margin-right: 1rem;  
}

form[action="/ebooks"] select,
form[action="/ebooks"] input[type="text"],
form[action="/ebooks"] input[type="search"] {
  appearance: none;
  background: #0000000D;
  border: 1px solid #777;
  border-radius: .25rem;
  box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset;
  color: #222;
  font: .88rem/1.4 "Crimson Pro", sans-serif;
  padding: 1rem;
  width: 100%;
}

form[action="/ebooks"] select {
  display: block;
  padding-right: 2rem;
}

form[action="/ebooks"] select[multiple] option[value="all"] {
  border-bottom: 1px dashed #777;
}

form[action="/ebooks"] label.search:focus-within::before,
form[action="/ebooks"] label.search:hover::before,
form[action="/ebooks"] label.select:hover::after {
  color: #000;
  transition: none;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  letter-spacing: 1px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  color: #333;  
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
body,
figure,
html,
ol,
ul,
ol#authors,
ol#ebooks,
ol#authors li p,
ol#ebooks li p,
p.title {
  margin: 0;
  padding: 0;
}

h1,
h2,
summary {
  font-family: "League Spartan"; 
}

h2,
summary {
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  text-transform: capitalize;
  word-spacing: 3px;
}

h3,
picture[data-caption]::before,
.subtitle,
p.alert,
p.author,
p.description {
  font-style: italic;
}

header nav {
  background-color: #394451;
  border-bottom: 5px solid rgba(0,0,0,.25);
  color: #fff;
  height: 34px;
}

header nav a {
  margin: 0 5px;
  font-size: small;
}

hgroup h1, 
hgroup h2 {
  text-align: center !important;
}

hgroup h2 {
  margin: 0 0 2rem;
  font: italic 1.75rem/1.2 "Crimson Pro";
}

hr,
main > article > hr {
  border: none;
  border-top: 3px double #777;
  margin: 1.5rem 0;
  width: 100%;
  max-width: 100%;
}

html {
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

input:focus,
input:hover,
select:focus,
select:hover {
  background: rgba(0,0,0,.1);
  transition: none;
}

main {
  margin: 1rem auto;
  width: 100%;
  max-width: 60rem;  
  box-sizing: border-box;
  font-variant-numeric: oldstyle-nums;
}

main > article > * {
  margin-left:  auto;
  margin-right:  auto;
  max-width: 40rem;
}

main nav {
  margin-bottom: 2rem;
}

main nav .current,
main nav a[rel],
.buttons a,
button,
form[action="/ebooks"] input,
form[action="/ebooks"] select {
  transition: background-color .5s, border-color .5s;
}

main nav .current:focus,
a.button:focus,
input:focus,
select:focus, 
button:focus,
nav a[rel]:focus {
  outline: 1px dashed #000;
}

main nav a.current {
  background: #4f9d85;
  border: 1px solid rgba(0,0,0,.5);
  color: #fff;
}

main nav a:first-child::before {
  content: "\f060";
  margin-right: .5rem;
  position: relative;
  right: 0;
  transition: all 200ms ease;
}

main nav a:first-child::before,
main nav a:last-child::after,  
.buttons a::before {
  font-family: 'Fork Awesome';
}

main nav a:first-child[href]:hover::before {
  right: .25rem;
  transition: all 200ms ease;
}

main nav a:not([href]),
.buttons a:not([href]),
#download li span:first-child a:not([href]) {
  background: #bbb url(../images/stripes-dark.svg);
  box-shadow: none;
  color: #efefef;
  cursor: default;
}

main nav a[href].next:hover::after,
main nav a:last-child[href]:hover::after {
  left: .25rem;
  position: relative;
  transition: all 200ms ease;
}

main nav a[href]:hover,
.buttons a[href]:hover,
#download li span:first-child a[href]:hover {
  background-color: #62BFA3;
  color: #fff;
  text-decoration: none;
}

main p:first-child,
main ul:first-child,
main ol:first-child,
main ul li:first-child,
main ol li:first-child,
main blockquote:first-child {
  margin-top: 0;
}

main[dir="ltr"] .ebook-details img {
  float: left;
  margin-right: 10px;
}

main[dir="ltr"] h2,
main[dir="ltr"] h3 {
  text-align: left;
}

main[dir="rtl"] .buttons a, 
main[dir="rtl"] h1,
article[dir="rtl"] h1,
main[dir="rtl"] h2,
article[dir="rtl"] h2 {
  font-family: 'KFGQPC Uthman Taha Naskh';
}

main[dir="rtl"] .ebook-details img {
  float: right;
  margin-left: 10px;
}

main[dir="rtl"] h2,
main[dir="rtl"] h3 {
  text-align: right;
}

main[dir="rtl"] p.description,
main[dir="rtl"] p.author,
main[dir="rtl"] .subtitle,
main[dir="rtl"] h3 {
  font-style: normal;
}

main[dir="rtl"],
article[dir="rtl"] {
  direction: rtl;
  font-family: 'KFGQPC Uthman Taha Naskh', 'Crimson Pro'
}

ol#authors > li,
ol#ebooks > li {
  display: inline-block;
  vertical-align: top;
  width: 24.7%;
  margin-bottom: 2rem;  
}

ol#authors,
ol#ebooks {
  text-align: justify;
}

ol#ebooks > li img,
ol#authors > li img,
.more-ebooks img {
  transition: transform .2s ease, box-shadow .2s ease;
}

ol#ebooks > li img:hover,
ol#authors > li img:hover, 
.more-ebooks img:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 1px rgba(0,0,0,.25);
}

ol#ebooks > li p:first-of-type a,
.ebook-details p.title {
  font-weight: 700;  
}

picture,
form[action="/ebooks"] label.search,
form[action="/ebooks"] label.select {
  position: relative;
}

picture[data-caption]::before {
  content: attr(data-caption);
  position: absolute;
  right: .25rem;
  bottom: 2.5rem;
  padding: .25rem .5rem;
  background: rgba(0,0,0,.5);
  border-radius: .25rem;
  color: #fff;
  font-size: .6rem;
  font-style: italic;
  opacity: 0;
  transition: all .25s;
}

picture[data-caption]:hover::before {
  opacity: 1;
}

select[multiple] option:checked {
  background-image: linear-gradient(0deg, #4f9d85 0%, #4f9d85 100%); 
}

span.subtitle {
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (hover: none) and (pointer: coarse) {

  form[action="/ebooks"] label.search {
    clear: both;
  }
  
  form[action="/ebooks"] select[multiple] {
    height: auto !important; 
  }
  
  form[action="/ebooks"] select[multiple] option[value="all"] {
    display: none;
  }
  
}

@media (max-width: 900px) {

  article {
    padding: 0 2rem;
  }
  
  footer {
    padding: 1rem 3rem;
  }
  
  form[action="/ebooks"] select[multiple] {
    height: auto !important;
  }
  
  ol#authors > li,
  ol#ebooks > li {
    margin: 2rem .2rem;
    width: 31.5%;
  }
  
}

@media (max-width: 700px) {

  #download li span:nth-child(2) {
    display: none;
  }

  #download li span:nth-child(3) {
    display: block;
    padding-top: .5rem;
  }

  .buttons a {
    padding: .5rem .75rem;
  }

  .ebook-details img {
    width: 160px;
    height: 220px;
    margin-bottom: 10px;
  }

  .more-ebooks img {
    height: 180px;
  }

  .more-ebooks li {
    margin: 0;
  }

  .more-ebooks li:first-child img, 
  .more-ebooks li:last-child img {
    height: 140px;
  }

  .more-ebooks li:nth-child(2) img,
  .more-ebooks li:nth-child(4) img {
    height: 160px;
  }

  button,
  form[action="/ebooks"] label.search,
  form[action="/ebooks"] label.tags, 
  form[action="/ebooks"] label.sort,
  form[action="/ebooks"] label.view,
  form[action="/ebooks"] label.per-page {
    float: left;
    margin: .5rem 1rem;
  }

  main[dir="ltr"] p.description {
    clear: left;
  }

  main[dir="rtl"] p.description {
    clear: right;
  }

  ol#authors > li img,
  ol#ebooks > li img,
  .ebook-details img {
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 540px) {

  .articles ul:first-of-type li {
    font-size: small;
  }

  .buttons a[href$="download"], 
  .buttons a[href$="download"],
  main nav a:first-child,
  main nav a:last-child, 
  main nav > a:first-child::before,
  main nav a:last-child {
    font-size: 0;
  }

  .ebook-details p.author, 
  .ebook-details p.description {
    font-size: smaller;
  }

  .ebook-details p.tags a {
    font-size: small;
    padding: .25rem .45rem;
  }

  .ebook-details p.title {
    font-size: 1rem;
    line-height: 1;
  }

  .more-ebooks li {
    width: 15%;
    margin: 1rem .25rem;
  }

  .more-ebooks li img {
    width: 100% !important;
    height: auto !important;
  }

  main nav > a:first-child::before,
  main nav > a:last-child::after,
  .buttons a[href$="download"]::before { 
    margin: 0 !important;
    font-size: .88rem;
  }

  main nav a:first-child,
  main nav a:last-child {
    padding: 1rem;
  }

  main nav span,
  main nav a:not(:first-child):not(:last-child):not(.current),
  footer span:nth-of-type(4) {
    display: none;
  }

  ol#authors li,
  ol#ebooks li {
    width: 47%;
    margin: 0 4px 2rem;
  }

  picture[data-caption]::before {
    left: 1rem;
    right: 1rem;
  }

}

@media only screen and (max-width: 480px) {

  main.articles {
    padding: 0 1rem;
  }

  main.articles li time {
    padding-left:.25rem;
  }

  .ebook-details {
    width: 95%;
  }

  .ebook-details .buttons a {
    margin-right: .25rem;
  }

  .ebook-details p {
    margin: .25rem 0;
  }

  .more-ebooks li {
    width: 35%;  
    margin: .25rem;
  }

  footer span:nth-of-type(3) {
    display: none;
  }

  footer span:nth-of-type(4) {
    display: inline;
  }

}

@media only screen and (max-width: 380px) {

  footer span:nth-of-type(3) {
    display: inline;
  }

  footer span:nth-of-type(4),
  footer span:nth-of-type(2) {
    display: none;
  }

}

@media only screen and (max-width: 320px) {

  footer span:nth-of-type(4) {
    display: none;
  }

  ol#authors > li img,
  ol#ebooks > li img {
    width: 224px;
    height: 335px;
  }

  ol#authors > li,
  ol#ebooks > li {
    width: 100%;
    margin: 1rem 0;
  }

}
